{
    "type": "postgres",
    "host": "127.0.0.1",
    "port": 5432,
    "username": "user",
    "password": "password",
    "database": "database",
    "synchronize": false,
    "logging": false,
    "entities": ["src/domain/models/*"],
    "migrations": ["src/migrations/*"],
    "subscribers": ["src/subscribers/*.ts"],
    "cli": {
       "entitiesDir": "src/domain/models",
       "migrationsDir": "src/migrations",
       "subscribersDir": "src/subscribers"
    }
 }